

<div class="card">
    <div class="card" alt="contenedor de carta">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Lista Registros</h3>
            </div>
        </div>
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="container">
                        <div class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="ingrese cedula para buscar"
                             #buscarTexto aria-label="Search">
                            <button  class="btn btn-outline-success" type="submit">Search</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>

        <!-----Cuerpo de la tabla -->
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead alt="encabezados">
                    <tr>
                        <th>Codigo de registro</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Tipo de interaccion</th>
                        <th>Descripcion</th>
                        <th>CRUD</th>
                    </tr>
                </thead>
                <tbody alt="registros" *ngFor="let ListaRegistro of ListaRegistro; let i = index">
                    <tr>
                        <td alt="Cedula">{{ListaRegistro.codigo_registro}}</td>
                        <td alt="fecha">{{ListaRegistro.fecha}}</td>
                        <td alt="cliente">{{ListaRegistro.cliente}}</td>
                        <td alt="tipo de iteraccion">{{ListaRegistro.tipo_iteracion}}</td>
                        <td alt="Descripcion">{{ListaRegistro.descripcion}}</td>
                        <td>
                            <div class="btn-group p-2" role="group">
                                <button class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#modificar">
                                    <i class="fas fa-pencil-alt"></i></button>
                            </div>
                            <button class="btn btn-danger"><i
                                    class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>               
            </table>
        </div>
    </div>
</div>
