<div class="card">
    <div class="card-body">
        <h3 class="text-center">Modificar de Registros</h3>
        <form class="p-5" >
            <div *ngFor="let cargar of cargar">
                <div class="form-group">
                    <label>Codigo de Registro</label>
                    <input [(ngModel)]="ListaRegistro.codigo_registro" type="number" class="form-control" id="exampleInputEmail1"
                        name="codigo" placeholder={{cargar.codigo_registro}}>
                </div>
    
                <div class="form-group">
                    <label>Fecha</label>
                    <input [(ngModel)]="ListaRegistro.fecha" type="date" class="form-control" id="exampleInputEmail1"  placeholder={{cargar.fecha}}
                        name="Fecha">
                </div>
    
                <div class="form-group">
                    <label>Cliente</label>
                    <input [(ngModel)]="ListaRegistro.cliente" type="text" class="form-control" id="exampleInputEmail1"  placeholder={{cargar.cliente}}
                        name="Cliente">
                </div>
    
                <div class="form-group">
                    <label>Tipo de interaccion</label>
                    <input [(ngModel)]="ListaRegistro.tipo_iteracion" type="text" class="form-control" id="exampleInputEmail1"  placeholder={{cargar.tipo_iteracion}}
                        name="Interaccion">
                </div>
    
                <div class="form-group">
                    <label>Descripcion</label>
                    <input [(ngModel)]="ListaRegistro.descripcion" type="text" class="form-control" id="exampleInputEmail1" placeholder={{cargar.descripcion}}
                        name="Descripcion">
                </div>
            </div>
            <div class="container p-4 text-center">
                <button  type="submit" class="btn btn-success" [routerLink]="['/listar']">Guardar</button>
                <button type="submit" class="btn btn-danger" [routerLink]="['/listar']">Cancelar</button>
            </div>
        </form>
    </div>
</div>