<div class="card">
    <div class="card-body">
        <form class="p-5">
            <h3 class="text-center">Formulario de Registros</h3>
            <div class="form-group">
                <label>Codigo de Registro</label>
                <input [(ngModel)]="ListaRegistro.codigo_registro" type="number" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el codigo"
                    name="codigo">
            </div>

            <div class="form-group">
                <label>Fecha</label>
                <input [(ngModel)]="ListaRegistro.fecha" type="date" class="form-control" id="exampleInputEmail1" placeholder="Ingrese la fecha"
                    name="Fecha">
            </div>

            <div class="form-group">
                <label>Cliente</label>
                <input [(ngModel)]="ListaRegistro.cliente" type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el cliente"
                    name="Cliente">
            </div>

            <div class="form-group">
                <label>Tipo de interaccion</label>
                <input [(ngModel)]="ListaRegistro.tipo_iteracion" type="text" class="form-control" id="exampleInputEmail1" placeholder="Interaccion"
                    name="Interaccion">
            </div>

            <div class="form-group">
                <label>Descripcion</label>
                <input [(ngModel)]="ListaRegistro.descripcion" type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese Descripcion"
                    name="Descripcion">
            </div>

            <div class="container p-4 text-center">
                <button (click)="agregarRegistro()" type="submit" class="btn btn-success" [routerLink]="['/listar']">Guardar</button>
                <button type="submit" class="btn btn-danger" [routerLink]="['/listar']">Cancelar</button>
            </div>
        </form>
    </div>
</div>